# Compiled files
target/
project/target/
project/project/

# sbt
.bsp/
.metals/
.idea/
*.class
*.jar

# Dataset (troppo grandi per GitHub)
*.csv

# Output jobs
risultato*.txt

# OS
.DS_Store
Thumbs.db
